.for-show-wrapper {
  /*background-color: black;*/
  color: white;
  width: 40vw;
  height: 93vh;
  display: flex;
  flex-direction: row;
  /*max-width: 650px;*/
}

.wow_divider {
  /*position: absolute;*/
  height: 100%;
  width: 25px;
  background-color: slategray;

}

.test_wow {
  background-color: darkslategray;
  height: 100%;
  width: 100vw;
}