// Variables here
// #261B4B -- navbar background
// #4E60A0
// #8C618A
// #6F93D6
// #82E5F0
// #E84F73 -- navlink
// #E6F3F9 -- navlink hover
// #E29DCE

#color-scheme1 {
  $background: #261B4B; //background color?
  color: #4E60A0; //
  color: #8C618A; //
  $text: #6F93D6; //
  $header: #82E5F0; // Header colors
  $link: #E84F73; //link color, nav color
  $linkhover: #E6F3F9; //link on hover
  color: #E29DCE; //
}