.very-header-container {
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.doge_logo_holds{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doge_logo_img {
  height: 50px;
  width: 50px;
}

.doge-logo-writespeak {
  font-size: 18px;
  margin-left: 10px;
  width: 100px;
}

.wow_such_nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-wrapper{
  width: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wow_such_nav_link {
  text-decoration: none;
  color: black;
}

.wow_such_nav_link:hover {
  font-size: 20px;
  /*color: yellow;*/
  text-transform: uppercase;
}
