@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Proza+Libre|Taviraj|Work+Sans');

.fonts {
  /*font groupings, first font is for big words, second is for normal words*/
  font-family: 'Work Sans', sans-serif;  /*I like this group better*/
  font-family: 'Proza Libre', sans-serif;

  font-family: 'Cormorant Garamond', serif;
  font-family: 'Taviraj', serif;
}

/*.big-words {
  font-family: 'Work Sans', sans-serif;
}

.spaced-words {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vh;
}

.small-words {
  font-family: 'Proza Libre', sans-serif;
}

.no-margin{
  margin:.2vh;
  padding:.2vh;
}*/

.wow-home-holdz {
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.such-amaze-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.amaze-wow-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amaze-wow-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.placeholder {
  height: 9vh;
}

.links {
  text-decoration: none;
  color: black;
}
